<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bad Search</title>
    <style type="text/css">
        #text-search-entry {
            font-size: 18px;
            width: 400px;
            margin-bottom: 10px;
        }
        #text-search-btn {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>Big Yikes Search</h1>
    <p>Badly implemented Search function that is vulnerable to SQL Injection. Yikes!</p>
    <form action="{{ url_for('bad_search') }}" method="POST">
        <input id="text-search-entry" type="text" placeholder="Entry Id" name="id"/>
        <input id="text-search-btn" type="Submit" value="Search"/>
    </form>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>TEXT</th>
            </tr>
        </thead>
        <tbody>
            {% for item in entry %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.text }}</td>
                    </tr>
            {% else %}
                <tr>
                    <td colspan="3">No Entries</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>&nbsp;</p>
    <a href="/">Return Home</a>
</body>
</html>