<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <h2>Basic Login Form</h2>
    <p>This login form that should be ok/good.</p>

    {% if error %}
        <h2>Error: {{ error }}</h2>
    {% endif %}
    <form method=post action="{{ url_for('good_app_login') }}">
        <dl>
            <dt>Username:</dt>
            <dd><input type="text" name="username"></dd>
            <dt>Password:</dt>
            <dd><input type="text" name="password"></dd>
            <dd><input type="submit" value="Login"></dd>
        </dl>
    </form>

</body>
</html>