<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wut</title>
</head>
<body>
    <h1>Wut! This is a secured page.</h1>

    <h3>Here's some data!</h3>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>TEXT</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                    <tr>
                        <td>{{ entry.id }}</td>
                        <td>{{ entry.title }}</td>
                        <td>{{ entry.text }}</td>
                    </tr>
            {% else %}
                <tr>
                    <td colspan="3">No Entries</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <p>&nbsp;</p>
    <a href="/">Return Home</a>
</body>
</html>